.btn-h1-spacing {
	margin-top: 18px;
}

.form-spacing-top {
	margin-top: 30px;
}

.comment {
	margin-bottom: 45px;
}

.author-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}

.author-name {
	float: left;
	margin-left: 15px;
}

.author-name>h4 {
	margin: 5px 0px;

}

.author-time {
	font-size: 11px;
	font-style: italic;
	color: #aaa;
}

.comment-content {
	clear: both;
	margin-left: 65px;
	font-size: 16px;
	line-height: 1.3em;
}

.comments-title {
	margin-bottom:45px;
}

.comments-title>span {
	margin-right: 15px;
}

/* genral touch */
.navbar-default{
    background-color: #4e73df;
}
.navbar-default .navbar-header a{
    color: #FFF;
}
.navbar-default .navbar-header a:hover{
    color: #ffeded;
}
.navbar-default .navbar-nav>li>a{
    color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover{
    color:  #ffeded;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: #FFF;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #ffeded;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #7194fa;
    color:#FFF;
}
.post-time{
    font-size: 14px;
	font-style: italic;
	color: #aaa;
}
.custom-header{
    background-color:#4e73df ;
    color: #FFF;
}
.custom-body{
    border: 1px solid #1d4edc;
}
.category-name{
    font-size: 14px;
	font-style: italic;
	color: #aaa;
}
.background{
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size: cove
}
/* End genral touch */
