/* begin genral style */
.nav-fix{
    height: 83px;
    background-color: #15222b;
}
/* End  genral */
.portfolio{
    padding-top: 80px;
}

/*  begin portfolio style */


/*  End portfolio style */
